/* Style the close button */
.delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .delete:hover {
    background-color: red;
    color: white;
  }

  .completed_checkbox {
    padding-right: 5px;   
  }

  /* Darker background-color on hover */
ul li:hover {
    background: #ddd;
  } 