<div class="container">
  <div class="appTitle">
    <h1>{{appTitle}}</h1>
  </div>
  <br>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Type todo text here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <!--button class="btn btn-primary" type="button">Add Todo</button-->
      <button class="btn btn-outline-secondary" type="button">Add Todo</button>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todosObj.todos">
      <div class="todo">
        <span>{{todo.text}}</span> 
      </div>
    </li>  
  </ul>
</div>
